<!-- ThaiCatsWebsite/Views/Character/Index.cshtml -->
@{
    ViewData["Title"] = "Character of Thai Cats";
}
<link rel="stylesheet" type="text/css" href="~/css/character.css">
<div  class="character-container">
    <h2 style="color: #434B4D;">Характер тайской кошки</h2>
    <p>Тайские кошки, как и другие представители восточных пород, активны, требовательны и бывают упрямы. Однако они очень умны, дружелюбны, сильно привязываются к хозяину и верны ему всю жизнь. Тайцы склонны разделять людей на своих и чужих: к владельцу всегда ласковы, а вот к чужим людям могут относиться настороженно. Они способны даже ворчать, но агрессии обычно не проявляют.</p>
</div>

