<!-- ThaiCatsWebsite/Views/Care/Index.cshtml -->
@{
    ViewData["Title"] = "Уход за тайскими кошками";
}

<link rel="stylesheet" type="text/css" href="~/css/care.css"> 

<div class="care-container">
    <h2>Правила по уходу за тайскими кошками</h2>

    <ul>
        <li>Еженедельное вычёсывание мягкой щёткой или специальной рукавицей.</li>
        <li>Чистка зубов — ежемесячно очищайте полость рта питомца специальной зубной щёткой.</li>
        <li>Купание — мойте кошку не чаще 1 раза в месяц при сильных загрязнениях.</li>
        <li>Стрижка когтей — особенно актуальна для домашних питомцев, не выходящих на улицу.</li>
        <li>Очищение ушей и глаз — протирайте их по мере необходимости ватным диском, смоченным в тёплой воде или растительном масле.</li>
    </ul>
</div>
